In [1]:
from espn_api.basketball import League
import pandas as pd

In [ ]:
472202235

In [2]:
league = League(
    league_id=472202235, 
    year=2023, 
    espn_s2='AECp9XuBZGH3HTGTP%2BMUUC%2FSgd0rxpMTVvXbl095l7pGUCWXp0xaBCzarXtVlYy25OaKL7q8VIpxHFAjqxs%2B0%2F%2F1%2Fgn%2BsTwzeOzVfu3GR5e55SWlbEixnKkjNPz9S39pbJA7lZIC3nvJLwOzzN6NjV9PKbL%2FgqHaZ%2FmXpYinqeI8%2B%2Bq1OnosxRmocCuIdoUJ08FQ4emA%2FzTMC1b3L0nEUluDYO99txXr2HIkdmOX8KG7vkKu78nhrglU6QrQPnypdrZ2CE0a3MWRwvsCl7SLGx%2FeEzYsMevBMsJ8qP%2FWD7%2Fn8w%3D%3D', 
    swid='{44CA7430-5856-48E3-85D1-48995BF4D412}'
)

In [3]:
league.teams

[Team(Tank Commanders),
 Team(Neural Nets),
 Team(Autodraft All-Stars),
 Team(Orem Octopi),
 Team(Team Hanson),
 Team(Team Bayesian Baller),
 Team(Conjugate Priors),
 Team(Principal Components),
 Team(Deez Data),
 Team(Team Shah)]

In [4]:
free_agents = league.free_agents(size = 10000)

In [5]:
type(league.teams)

list

In [19]:
players = []
teams = []
for i in range(len(league.teams)):
    team = league.teams[i].team_name
    roster = league.teams[i].roster
    for j in range(len(roster)):
        players.append([roster[j].name, roster[j].proTeam, team])
        teams.append(team)
fa_info = []
for i in range(len(free_agents)):
    fa_info.append([free_agents[i].name, free_agents[i].proTeam, 'Free Agent'])

In [20]:
player_teams = pd.DataFrame(players, columns = ['Player_Name', 'NBA Team','Team'])
fa_players = pd.DataFrame(fa_info, columns = ['Player_Name', 'NBA Team', 'Team'])
all_players = pd.concat([player_teams, fa_players])

In [21]:
all_players.head()

       Player_Name NBA Team             Team
0     Nikola Jokic      DEN  Tank Commanders
1  Dejounte Murray      ATL  Tank Commanders
2      Bam Adebayo      MIA  Tank Commanders
3     Bradley Beal      WAS  Tank Commanders
4   Darius Garland      CLE  Tank Commanders

In [9]:
all_players.tail()

          Player_Name        Team
845   Brandon Sampson  Free Agent
846     Mychal Mulder  Free Agent
847      Gian Clavell  Free Agent
848   Marcus Eriksson  Free Agent
849  Nicolas Brussino  Free Agent

In [10]:
len(fa_players)

850

In [11]:
all_players.shape

(975, 2)

In [17]:
fa_players

          Player_Name        Team
0          RJ Barrett  Free Agent
1          Saddiq Bey  Free Agent
2          Jaden Ivey  Free Agent
3       Collin Sexton  Free Agent
4     Harrison Barnes  Free Agent
..                ...         ...
845   Brandon Sampson  Free Agent
846     Mychal Mulder  Free Agent
847      Gian Clavell  Free Agent
848   Marcus Eriksson  Free Agent
849  Nicolas Brussino  Free Agent

[850 rows x 2 columns]