In [1]:
from espn_api.basketball import League
import pandas as pd

In [12]:
league = League(
    league_id=1046453757, 
    year=2024, 
    espn_s2='AECu6vwVPxzXR7n39VJt0W3nC293dSyQZNDI1TLwUKzgWi9h%2FA80yl6NR9N%2BtTUxE3Svkd7UXeFpYkZHQWruYphpyAq%2FJ7xzKbw3lYIRez4cgn7JfBwjfwwRVndo2KbvntXQYqZOXZ5rT%2F3qSAIvdmP%2FlSw%2Bh%2F78nrxmWSrcNUCNta8KwZsz22Vg0QgmeH84zNAf36YjhjOaVVXnN0qdq9rPWe9aE7U7TVuac7KD0jWwAasJ8VnyVJ%2FAR2AT20LFDNVEFmB4ev9UHYPIA5o2t2M8qnW8ak%2BKHsi61gGSPzR6%2Bw%3D%3D', 
    swid='{BB5A4BBF-E87B-40A9-8E5A-B5C29AC5DE67}'
)

In [3]:
old_league = League(
    league_id=472202235, 
    year=2023, 
    espn_s2='AECp9XuBZGH3HTGTP%2BMUUC%2FSgd0rxpMTVvXbl095l7pGUCWXp0xaBCzarXtVlYy25OaKL7q8VIpxHFAjqxs%2B0%2F%2F1%2Fgn%2BsTwzeOzVfu3GR5e55SWlbEixnKkjNPz9S39pbJA7lZIC3nvJLwOzzN6NjV9PKbL%2FgqHaZ%2FmXpYinqeI8%2B%2Bq1OnosxRmocCuIdoUJ08FQ4emA%2FzTMC1b3L0nEUluDYO99txXr2HIkdmOX8KG7vkKu78nhrglU6QrQPnypdrZ2CE0a3MWRwvsCl7SLGx%2FeEzYsMevBMsJ8qP%2FWD7%2Fn8w%3D%3D', 
    swid='{44CA7430-5856-48E3-85D1-48995BF4D412}'
)

In [13]:
league.teams

[Team(Joe Hablo Ingles),
 Team(Team Johnson),
 Team(The Gobert Trade Sucked),
 Team(One in a Markannen),
 Team(TotinosPizzaRolls),
 Team(Mamba Mentality),
 Team(Middy City),
 Team(BigBallahShotCallah),
 Team(PattyMcHunks),
 Team(We Talkin' About Practice),
 Team(Team Durrant),
 Team(World Champions)]

In [14]:
free_agents = league.free_agents(size = 10000)

In [15]:
type(league.teams)

list

In [16]:
players = []
teams = []
for i in range(len(league.teams)):
    team = league.teams[i].team_name
    roster = league.teams[i].roster
    for j in range(len(roster)):
        players.append([roster[j].name, roster[j].proTeam, team])
        teams.append(team)
fa_info = []
for i in range(len(free_agents)):
    fa_info.append([free_agents[i].name, free_agents[i].proTeam, 'Free Agent'])

In [17]:
player_teams = pd.DataFrame(players, columns = ['Player_Name', 'NBA Team','Team'])
fa_players = pd.DataFrame(fa_info, columns = ['Player_Name', 'NBA Team', 'Team'])
all_players = pd.concat([player_teams, fa_players])

In [18]:
all_players.head()

             Player_Name NBA Team              Team
0  Giannis Antetokounmpo      MIL  Joe Hablo Ingles
1          DeMar DeRozan      CHI  Joe Hablo Ingles
2          Jalen Brunson      NYK  Joe Hablo Ingles
3            Josh Giddey      OKC  Joe Hablo Ingles
4            Paul George      LAC  Joe Hablo Ingles

In [19]:
all_players.tail()

         Player_Name NBA Team        Team
840  David Michineau      LAC  Free Agent
841   Brodric Thomas      LAC  Free Agent
842  Isaia Cordinier      ATL  Free Agent
843       Karim Mane      ORL  Free Agent
844      Jamel Artis      LAC  Free Agent

In [20]:
len(fa_players)

845

In [21]:
all_players.shape

(1011, 3)

In [22]:
fa_players

         Player_Name NBA Team        Team
0     Andrew Wiggins      GSW  Free Agent
1          Tre Jones      SAS  Free Agent
2       Zach Collins      SAS  Free Agent
3         Jaden Ivey      DET  Free Agent
4    Harrison Barnes      SAC  Free Agent
..               ...      ...         ...
840  David Michineau      LAC  Free Agent
841   Brodric Thomas      LAC  Free Agent
842  Isaia Cordinier      ATL  Free Agent
843       Karim Mane      ORL  Free Agent
844      Jamel Artis      LAC  Free Agent

[845 rows x 3 columns]