In [25]:
from espn_api.basketball import League
import pandas as pd

In [ ]:
472202235

In [3]:
league = League(
    league_id=472202235, 
    year=2023, 
    espn_s2='AECp9XuBZGH3HTGTP%2BMUUC%2FSgd0rxpMTVvXbl095l7pGUCWXp0xaBCzarXtVlYy25OaKL7q8VIpxHFAjqxs%2B0%2F%2F1%2Fgn%2BsTwzeOzVfu3GR5e55SWlbEixnKkjNPz9S39pbJA7lZIC3nvJLwOzzN6NjV9PKbL%2FgqHaZ%2FmXpYinqeI8%2B%2Bq1OnosxRmocCuIdoUJ08FQ4emA%2FzTMC1b3L0nEUluDYO99txXr2HIkdmOX8KG7vkKu78nhrglU6QrQPnypdrZ2CE0a3MWRwvsCl7SLGx%2FeEzYsMevBMsJ8qP%2FWD7%2Fn8w%3D%3D', 
    swid='{44CA7430-5856-48E3-85D1-48995BF4D412}'
)

In [4]:
league.teams

[Team(Tank Commanders),
 Team(Team Durrant),
 Team(Team Clarke),
 Team(Orem Octopi),
 Team(Team Hanson),
 Team(Team Bayesian Baller),
 Team(Conjugate Priors),
 Team(Principal Components),
 Team(Deez Data),
 Team(Team Shah)]

In [38]:
free_agents = league.free_agents(size = 10000)

In [17]:
type(league.teams)

list

In [42]:
players = []
teams = []
for i in range(len(league.teams)):
    team = league.teams[i].team_name
    roster = league.teams[i].roster
    for j in range(len(roster)):
        players.append([roster[j].name, team])
        teams.append(team)
fa_info = []
for i in range(len(free_agents)):
    fa_info.append([free_agents[i].name, 'Free Agent'])

In [45]:
player_teams = pd.DataFrame(players, columns = ['Player_Name', 'Team'])
fa_players = pd.DataFrame(fa_info, columns = ['Player_Name', 'Team'])
all_players = pd.concat([player_teams, fa_players])

In [46]:
all_players.head()

       Player_Name             Team
0     Nikola Jokic  Tank Commanders
1  Dejounte Murray  Tank Commanders
2      Bam Adebayo  Tank Commanders
3     Bradley Beal  Tank Commanders
4   Darius Garland  Tank Commanders

In [47]:
all_players.tail()

         Player_Name        Team
843  David Michineau  Free Agent
844   Trevon Bluiett  Free Agent
845     Rawle Alkins  Free Agent
846  Marcus Eriksson  Free Agent
847  Isaia Cordinier  Free Agent

In [48]:
len(fa_players)

848

In [49]:
all_players.shape

(968, 2)

In [57]:
dir(free_agents[1].points)

AttributeError: 'Player' object has no attribute 'points'